<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Drinks</title>
</head>
<body>
  <div class="logo">
    <img src="./images/logo.png" alt="logo" width="60px">
  </div>
  <header>
    <h1>All Drinks</h1>
  </header>


  
  <hr />
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./images/mocha frap.jpeg" alt="coffee" style="width:100%">
        <h1>Mocha Frappuchino</h1>
        <p class="price">$4.45</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/tripleshot.jpeg" alt="coffee" style="width:100%">
        <h1>Tripleshot Energy</h1>
        <p class="price">$2.84</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/pumpkincreamlatte.jpg" alt="coffee" style="width:100%">
        <h1>Pumpkin Cream Brew</h1>
        <p class="price">$5.25</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/caramelfrap.jpg" alt="coffee" style="width:100%">
        <h1>Caramel Frappuchino</h1>
        <p class="price">$4.45</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/toastedwcmocha.jpg" alt="coffee" style="width:100%">
        <h1>Toasted White Chocolate Mocha</h1>
        <p class="price">$4.65</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/chestnutpralinelatte.jpg" alt="coffee" style="width:100%">
        <h1>Chestnut Praline Latte</h1>
        <p class="price">$4.65</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/peppermint mocha.jpg" alt="coffee" style="width:100%">
        <h1>Peppermint Mocha</h1>
        <p class="price">$4.65</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/nitro.jpg" alt="coffee" style="width:100%">
        <h1>Nitro Cold Brew</h1>
        <p class="price">$3.95</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/caramelbruleelatte.jpg" alt="coffee" style="width:100%">
        <h1>Caramel Brulée Latte</h1>
        <p class="price">$4.45</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/applecrisp.jpg" alt="coffee" style="width:100%">
        <h1>Apple Crisp Macchiato</h1>
        <p class="price">$5.45</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    
  </div>


  
  
</body>
</html>
