<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Drinks</title>
</head>
<body>
  <div class="logo">
    <img src="./images/logo.png" alt="logo" width="60px">
  </div>
  <header>
    <h1>All Drinks</h1>
  </header>


  
  <hr />
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./images/mocha frap.jpeg" alt="coffee" style="width:100%">
        <h1>Coffee</h1>
        <p class="price">$5.25</p>
        <p>..description..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/mocha frap.jpeg" alt="coffee" style="width:100%">
        <h1>Coffee</h1>
        <p class="price">$5.25</p>
        <p>..description..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/mocha frap.jpeg" alt="coffee" style="width:100%">
        <h1>Coffee</h1>
        <p class="price">$5.25</p>
        <p>..description..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/mocha frap.jpeg" alt="coffee" style="width:100%">
        <h1>Coffee</h1>
        <p class="price">$5.25</p>
        <p>..description..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./images/mocha frap.jpeg" alt="coffee" style="width:100%">
        <h1>Coffee</h1>
        <p class="price">$5.25</p>
        <p>..description..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
  </div>


  
  
</body>
</html>