<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Starbucks..!!">
    <meta name="author" content="Nimay Patel">
    <title> Welcome..! </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  </head>
  <body>

    <header>
        <div class="container">
          <h2>Starbucks</h2>
        </div>
    </header>


    <section id="login">
     <div id="container">
      <div class="back-image">
       <h3>The Doorway to your<br> favorite drink</h3><br>
        <form name="form" method="post">
         <div id="username_div">
          <input type="text" name="username" placeholder="Email ID" class="user">
          <div id="name_error"></div>
   	     </div>
         <div id="password_div">
          <input type="password" name="password" placeholder="Password" class="pass">
          <div id="password_error"></div>
         </div>
          <p class="reg"><a href="register.html">First Time? Register here</a></p>

         <div>
           <input type="submit" name="logbutton" class="button" value="Login">

         </div>
       </form>
     </div>
    </div>
   </section>

    <footer id="footer" class="static-footer">
      <div class="container">
        <p>Made by Prof. Paul Nguyen's Students</p>
      </div>
    </footer>
  </body>
</html>
