<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Starbucks..!!">
    <meta name="author" content="Nimay Patel">
    <title> Welcome..! </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="login.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> 
  </head>
  <body>
    <div class="logo">
      <img src="./images/logo.png" alt="logo" width="60px">
    </div>
    <header>
        <div class="container">
          <h1>Login</h1>
        </div>
    </header>

<div class="box">
  <section id="login">
    <div id="container">
     <div class="back-image">
      <h3>The Doorway to your favorite drink</h3><br>
       <form name="form" method="post">
        <p>Email Address</p>
        <input type="email" class="email" placeholder="Enter Email Address">
        <p>Password</p>
        <input type="text" class="pass" placeholder="Enter Password">
         <p class="reg"><a href="register.html">First Time? Register here</a></p>
         <br>
        <div>
          <input type="submit" name="logbutton" class="button" value="Login">

        </div>
      </form>
    </div>
   </div>
  </section>
</div>
    

    <!-- <footer id="footer" class="static-footer">
      <div class="container">
        <p>Made by Prof. Paul Nguyen's Students</p>
      </div>
    </footer> -->
    <footer>
      Made by Prof. Paul Nguyen's students
    </footer>
  </body>
</html>
