<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of Payments</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
      <header>
        <h1>List of Payments</h1>
      </header>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Payment ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone Number</th>
                    <th>Card Number</th>
                    <th>Exp Month</th>
                    <th>Exp Year</th>
                    <th>CVV</th>
                    <th>Email</th>
                    <th>Notes</th>

                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="payment: ${list_of_payments}">
                    <td th:text="${payment.id}">Payment ID</td>
                    <td th:text="${payment.firstname}">First Name</td>
                    <td th:text="${payment.lastname}">Last Name</td>
                    <td th:text="${payment.address}">Address</td>
                    <td th:text="${payment.city}">City</td>
                    <td th:text="${payment.state}">State</td>
                    <td th:text="${payment.zip}">Zip</td>
                    <td th:text="${payment.phonenumber}">Phone Number</td>
                    <td th:text="${payment.cardnumber}">Card Number</td>
                    <td th:text="${payment.expmonth}">Exp Month</td>
                    <td th:text="${payment.expyear}">Exp Year</td>
                    <td th:text="${payment.cvv}">CVV</td>
                    <td th:text="${payment.email}">Email</td>
                    <td th:text="${payment.notes}">Notes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
