<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Fail</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
    <header>
        <h1>Registration Failure</h1>
    </header>
    <div class="home">
        <p>Email already exists. Please register with new email or login.</p>
        <button class="goToLogin"><a href="login_page">Login Here</a></button>
        <button class="goToRegister"><a href="register">Register Here</a></button>
    </div>

     
</body>
</html>
