<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
      <header>
        <h1>New User Sign Up Sheet</h1>
      </header>
    <div class="box">
            <h1>Sign Up</h1>
            <form th:action="@{/registration_success}" th:object="${user}" name="form2" method="post">
                 <p>First Name</p>
                 <input type="text" th:field="*{first_name}" required minlength="1" name="i1" placeholder="Enter First Name">
                 <p>Last Name</p>
                 <input type="text" th:field="*{last_name}" required minlength="1" name="i2" placeholder="Enter Last Name">
                 <p>Email</p>
                 <input type="email" th:field="*{email}" required name="i3" placeholder="Enter Email">
                 <p> Password</p>
                 <input type="password" th:field="*{password}" required minlength="1" name="i4" placeholder="Enter Password">
                 <input type="submit" name="b1" value="Sign Up">
            </form>


        <!-- <form th:action="@{/registration_success}" th:object="${user}"
            method="post" style="max-width: 0px; margin: 0 auto;">
        <div class="reg">

            <div class="registerForm">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{first_name}" class="form-control" required minlength="1" placeholder="Enter First Name">
                </div>
            </div>
             
            <div class="registerForm">
                <label class="col-4 col-form-label">Last Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{last_name}" class="form-control" required minlength="1" placeholder="Enter Last Name">
                </div>
            </div>


            <div class="registerForm">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>
             
            <div class="registerForm">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="1" />
                </div>
            </div>
             
            <div>
                <input type="submit" class="btn btn-primary" value="Sign Up"></input>
            </div>
            
        </div>
        </form> -->
    </div>
</body>
</html>
