<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Reset Password Page</title>
    <link href = "styles.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
    </div>
    <header>
        <h1>Reset Password</h1>
    </header>
    <div class="box">
        <h1>Reset Password</h1>
        
        <form th:action="@{/password_changed}" th:object="${user}" name="form2" method="post">
             <p>Email</p>
             <input th:field="*{email}" type="email" name="i1" required placeholder="Enter Email">
             <p>Old Password</p>
             <input th:field="*{password}" type="text" name="i2" required placeholder="Enter Old Password">
             <p>New Password</p>
             <input th:field="*{new_password}" type="text" name="i3" required placeholder="Enter New Password">
             <input type="submit" name="b1" value="Save Details">
        </form>
        
    </div>
</body>
</html>
