<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link href = "styles.css" rel = "stylesheet" type = "text/css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
    <header>
        <h1>Starbucks</h1>
    </header>
    <div class="box">
        <br>
        <br>
        <br>
        <br>
        <button class="special_button"><a href="drinks">Drinks Menu</a></button>
        <br>
        <br>
        <br>
        <br>
        <button class="special_button"><a href="rewards">Rewards</a></button>
    </div>
</body>
</html>
