* {
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 20px;
  align-items: left;
  margin-left: 3%;
  display: inline-block;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 7px 0px;
}

header {
  background-color: #327346;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.row {
  margin: 0 -5px;
}

.column {
  float: left;
  width: 25%;
  padding: 15px 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card h1{
  font-size: large;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #327346;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.menu-bar ul li
{
  display: inline-block;
}

.menu-bar ul li input
{
  text-decoration: none;
  color: var(--coffee-brown);
  background-color: white;
  padding: 2px;
  border: 1px solid var(--coffee-brown);
}

.menu-bar ul li input:hover
{
  background-color: var(--coffee-brown);
  color: white;
}

:root {
  --coffee-brown: rgb(167, 91, 41);
}

.box
{
  width: 400px;
  height: 500px;
  background: var(--coffee-brown);
  border: black;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}

.box p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}

.box input
{
    width: 100%;
    margin-bottom: 20px;
}

.box input[type="text"]
{
    border: none;
    border-bottom: 1px solid black;
    background: white;
    height: 40px;
    color: black;
    font-size: 16px;
}

.box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #327346;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
}

.box input[type="submit"]:hover
{
    background: white;
    color: #327346;
}
