<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Admin</title>
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
      <header>
        <h1>Admin</h1>
      </header>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>You are logged in!</p>
        <a th:href="@{/logout}">Log Out</a>
    </div>
    <p>All drinks</p>
  <div class = "drinksTable">
    <table>
      <tr>
        <th>Drink</th>
        <th>Price</th>
      </tr>
      <tr>
        <td>Mocha Frappuchino</td>
        <td>$4.45</td>
      </tr>
      <tr>
        <td>Tripleshot Energy</td>
        <td>$2.84</td>
      </tr>
      <tr>
        <td>Pumpkin Cream Brew</td>
        <td>$5.25</td>
      </tr>
      <tr>
        <td>Caramel Frappuchino</td>
        <td>$4.45</td>
      </tr>
      <tr>
        <td>Toasted White Chocolate Mocha</td>
        <td>$4.65</td>
      </tr>
      <tr>
        <td>Chestnut Praline Lattle</td>
        <td>$4.65</td>
      </tr>
      <tr>
        <td>Peppermint Mocha</td>
        <td>$4.65</td>
      </tr>
      <tr>
        <td>Nitro Cold Brew</td>
        <td>$3.95</td>
      </tr>
      <tr>
        <td>Caramel Brulée Latte</td>
        <td>$4.45</td>
      </tr>
      <tr>
        <td>Apple Crisp Macchiato</td>
        <td>$5.45</td>
      </tr>
    </table>
  </div>
</body>
</html>


    

