<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminstyles.css">
    <title>Admin</title>
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
      <header>
        <h1>Users</h1>
      </header>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>You are logged in!</p>
        <a href="rewards"><button id="special_button">Rewards</button></a>
        <a href="orders"><button id="special_button">Orders</button></a>
        <a href="users/edit"><button id="special_button">Edit User</button></a>
        <br>
        <a th:href="@{/logout}">Log Out</a>
    </div>
    <br>
    <div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th> 

                
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${list_of_users}">
                <td th:text="${user.first_name}">First Name</td>
                <td th:text="${user.last_name}">Last Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.password}">Password</td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>
