<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Admin</title>
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
      <header>
        <h1>Rewards</h1>
      </header>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>You are logged in!</p>
        <a href="rewards/edit"><button id="rewardsButton">Edit Rewards</button></a>
        <a href="users"><button id="usersButton">Users</button></a>
        <a href="orders"><button id="ordersButton">Orders</button></a>
        <a th:href="@{/logout}">Log Out</a>
    </div>
    <div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Redeemed Item</th>
                <th>Redeemed Points</th>
                <th>Stars Balance</th> 

                
            </tr>
        </thead>
        <tbody>
            <tr th:each="userRewards: ${list_of_rewards}">
                <td th:text="${userRewards.email}">First Name</td>
                <td th:text="${userRewards.redeemedItem}">Redeemed Item</td>
                <td th:text="${userRewards.redeemedPoints}">Redeemed Points</td>
                <td th:text="${userRewards.starsBalance}">Stars Balance</td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>