<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Editted</title>
    <link rel="stylesheet" href="adminstyles.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
    <header>
        <h1>User Editted</h1>
    </header>
    <div class="home">
        <p>User details were changed successfully!</p>
        <br>
        <a href="admin/users"><button class="special_button">See User!!</button></a>
    </div> 
</body>
</html>
