<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed</title>
    <link rel="stylesheet" href="adminstyles.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="logo">
        <img src="images/logo.png" alt="logo" width="60px">
      </div>
    <header>
        <h1>Rewards Changed</h1>
    </header>
    <div class="home">
        <p style="text-align: center;">Rewards changed successfully!</p>
        <br>
        <a href="admin/rewards" style="text-decoration: none; color: white;"><button class="special_button">Go Back!</button></a>
    </div> 
</body>
</html>
