* {
  box-sizing: border-box;
}
body:not(header, .logo, .card) {
  background-color: rgb(196, 164, 132);
}

.logo {
  position: absolute;
  top: 20px;
  align-items: left;
  margin-left: 3%;
  display: inline-block;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 7px 0px;
}

header {
  background-color: #327346;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

table, tr, th {
  padding: 7px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.home {
  width: 300px;
  height: 200px;
  background: var(--coffee-brown);
  border: solid 2px black;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}
.home .special_button
{
  border: none;
  outline: none;
  position: relative;
  top: 12px;
  left: 16px;
  height: 40px;
  width: 200px;
  background: #327346;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}
